@import "default-green.css";

@import "xot_media.css";

#content {
 padding: 10px
}

.form-group label {
 text-transform: none;
}

.form-group label span {
 color: #333333;
 text-align: justify;
}

.form-group label span p {
 padding-left: 15px;
 padding-right: 15px;
 text-indent: 2em;
}

.form-group div {
 padding-left: 40px;
}

.analysis h1 {
 font-size: 12px;
 margin: 0px;
}

/* 点击高亮样式 */
.active:active {
 background-color: #FFFF08;
 -moz-box-shadow: 2px 2px 20px #FFFF08;
 -webkit-box-shadow: 2px 2px 20px #FFFF08;
 box-shadow: 2px 2px 20px #FFFF08;
 -moz-box-shadow: 2px 2px 20px #FFFF08;
}
/* 点击高亮样式 */
.active_border:active {
 -moz-box-shadow: 2px 2px 20px #FFFF08;
 -webkit-box-shadow: 2px 2px 20px #FFFF08;
 box-shadow: 2px 2px 20px #FFFF08;
 -moz-box-shadow: 2px 2px 20px #FFFF08;
}

/* 音频播放器  begin */
.media_player {
 display: none;
 text-align: center;
 width: 100%;
 padding: 0px !important;
 height: 70px;
 background: ghostwhite;
 border-radius: 5px;
 overflow: hidden;
}

.media_player .player {
 position: absolute;
 text-align: left;
 width: 90%;
 padding: 10px;
}

.media_player .player .player_btn {
 width: 50px;
 height: 50px;
 border-radius: 25px;
}

.media_player .player .player_time {
 padding: 5px;
 position: absolute;
 top: 5px;
}

.media_player .player div {
 padding: 0px;
 display: inline-block;
 position: absolute;
 top: 5px;
 width: 80%;
}

.media_player div.player_progress {
 height: 5px;
 width: 100%;
 margin: 0px;
 position: absolute;
 background: yellowgreen;
 overflow: hidden;
 top: 40px;
 left: 5px;
}

.media_player div.player_progress_size {
 height: 100%;
 width: 10%;
 margin: 0px;
 position: absolute;
 top: 0px;
 background: #337512;
 /* $('.media_player div.player_progress_size').css('width','70%') */
}
/* 音频播放器  end */

/* markData style begin */
section.markdata div.mark {
 background: #FFFFFF;
 padding: 0px;
}

section.markdata div.mark .mark_text {

}

section.markdata div.mark .mark_result {
  height: 14px;
}

section.markdata div.mark .mark_score {
 color: red;
 font-weight: bold;
}

section.markdata div.mark .mark_comment {
 font-weight: bold;
 color: red;
}
/* markData style end */

p.inline {
 display: inline;
 line-height: 30px;
}

/* 选项背景颜色 */
/* 当前选中项样式 */
.checkbg {
 background: lightgreen !important;
}
.checkbg_mark_right {
  background: green !important;
}
.checkbg_mark_wrong {
  background: rgb(241, 16, 3) !important;
}
.checkbg_mark_half {
  background: red !important;
}

/* 错题本 */

.wrongNote{width: 100%;/* background: aquamarine; */margin: 0px;padding: 0px;position: relative;display: inline-block;}
.wrong_content{margin: 0px;border-radius: 6px;padding: 0px;background: rgba(255, 255, 255, 0);}
.wrong_btn_panel{width: 100%;/* border-radius: 6px; */padding: 2px 12px;display: inline-block;/* background: rgba(183, 171, 249, 0.96); */}
.wrong_std_answer_btn{float: left;border-radius: 5px;background: #2ABFD4;font-weight: bold;color: brown;padding: 10px;}
.wrong_stu_history_btn{float: right;border-radius: 5px;padding: 10px;color: brown;font-weight: bold;background: #2ABFD4;}
.wrong_history{clear: both;padding: 10px;/* background: #B7F5D0; */}
.wrong_std_answer{
    clear: both;
    padding: 10px;
}

.wrong_history_result{
    color: red;
    font-size: 20px;
}
.wrong_history_time{
    padding-left: 10px;
}
.wrong_history_arrow{float: right;font-size: 18px;color: #049210;font-weight: bold;}
.wrong_history ol li{
    border: #99999A 1px dotted;
    margin-bottom: 3px;
    /* height: 28px; */
    line-height: 28px;
    padding: 0px 10px;
}
.wrong_history ol li:active{
    border: #0202FF 1px dashed;
    margin-bottom: 3px;
}
.wrong_history_content{}
.wrong_item_template{}
.wrong_item_template_item{
    list-style-type: decimal-leading-zero;
}
