:root {
    --name: blue;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item {
    background: #C09;
    float: left;
    cursor: move;
    line-height: 70px;
    font-size: 1.5rem;
    color: #F8F8F8;
    text-align: center;
    border: 4px solid transparent;
    padding: 1em;
}

.grid-item {
    min-width: 200px;
    min-height: 200px;
    line-height: 200px;
}

.grid-item-small {
    min-width: 100px;
    min-height: 100px;
    line-height: 100px;
}

.grid-item-large {
    min-width: 300px;
    min-height: 300px;
    line-height: 300px;
}

.grid-item.is-dragging, .grid-item.is-positioning-post-drag {
    background: #EA0;
    z-index: 2;
    /* keep dragged item on top */
}

.packery-drop-placeholder {
    outline: 3px dashed rgb(168, 167, 167);
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

/* ---- dash ---- */

.drag-hero-demos__item--dash, .drag-hero-demos__grid__dash-grid-sizer {
    width: 16%;
    width: calc((100% - 8px * 4) / 5);
}

.drag-hero-demos__item--dash {
    height: 80px;
}

.drag-hero-demos__item--dash.width2 {
    width: 32%;
    width: calc(((100% - 8px * 4) / 5) * 2 + 8px);
}

.drag-hero-demos__item--dash.height2 {
    height: 168px;
}