.model_content{
  /*background-color: #8888FF;*/
  position: relative;
  z-index: 10;
}
.model_item{
  display: inline-block;
  border: #338833 3px solid;
  background-color: #FF8888;
  width: 200px;
  position: absolute!important;
  left: 300px;
  top: 130px;
  padding-left: 15px;
  padding-right: 15px;
}
input,select{
    padding: 0px!important; 
    height=40px!important;
    font-size: 24px!important;/* line-height: 2em!important; */}

.error_bg{
  background-color: #B70404!important;
}