.model_content{
  /*background-color: #8888FF;*/
  position: relative;;;
}
.model_item{
  display: inline-block;
  border: #338833 3px solid;
  background-color: #FF8888;
  width: 200px;
  position: absolute!important;
  left: 300px;
  top: 130px;
  padding-left: 15px;
  padding-right: 15px;
}

.handle:hover{
  cursor: move;
  background-color: #33AA33;
  transition: all 500ms;
}
.editor-action:hover{
  cursor: pointer;
  background-color: #AA3333;
  transition: all 500ms;
}
.editor-delete:hover{
  background-color: red;
  cursor: pointer;
  transition: all 500ms;
}
.editor-select{
  cursor: default;
}
.editor{
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5% 0 0 10%;
  width: 80%;
  /*height: 80%;*/
  padding: 2px;
  border-radius: 3px;
  background-color: #F0F0F0;
  border: #AAAAAA 2px solid;
  z-index: 9999;
}

.editor-hide{
  transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms;

}

.editor-show{
  display: block;
  transform: scale(1);
  visibility: visible;
  transition: all 300ms ease;
}

.editor-close{
  position: absolute;
  right: 0px;
  top: -5px;
  padding: 10px!important;
}

.editor-source{
  width: 100%;
  margin-top: 3px;
  height: 400px;
  resize: vertical;
}
